.bg-main {
  background-color: #b72029;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 100vw;
  height: 85vh;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

.carousel-caption h1,
.carousel-caption p {
  color: #fff; /* ensure text is visible */
}

.carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3); /* optional overlay for readability */
}

@media (max-width: 768px) {
  .carousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 40vh;
  }
}

.image-gallery {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.image-gallery img {
  flex: 1;
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  border-left: 10px solid #b72029;
}

@media (max-width: 768px) {
  .image-gallery {
    flex-direction: column;
  }
  .form-box {
    padding: 0px !important;
    background-color: transparent !important;
  }
}

.image-gallery {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.image-gallery-track {
  display: flex;
  width: fit-content;
  animation: scroll-left-right 10s linear infinite;
}

.image-gallery img {
  height: 200px;
  margin-right: 20px;
  flex-shrink: 0;
}

@keyframes scroll-left-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
