.nav-linked {
  font-size: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-linked {
    display: none;
  }
  .img-cover {
    width: 15% !important;
    height: 15% !important;
  }
}

.floating-btn {
  animation: floatUpDown 2s ease-in-out infinite;
}

/* Floating animation */
@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
}